<section class="session">
  <%= if signed_in?(@conn) do %>
    <%= link(gettext("Sign out"),
      to: sign_out_path(@conn, :delete),
      method: :delete,
      data: [role: "sign-out"])
    %>
  <% else %>
    <h1 class="session__intro">
      Get started with Dango
    </h1>

    <%= link(gettext("Sign in"),
      to: sign_in_path(@conn, :new),
      data: [role: "sign-in"])
    %>
  <% end %>
</section>
